[submodule "salt/formula/serverbase-formula"]
	path = salt/formula/serverbase-formula
	url = git@github.com:miguelpalma/saltstack-serverbase-formula.git
[submodule "salt/formula/vim-formula"]
	path = salt/formula/vim-formula
	url = https://github.com/saltstack-formulas/vim-formula.git
[submodule "salt/formula/openssh-formula"]
	path = salt/formula/openssh-formula
	url = https://github.com/saltstack-formulas/openssh-formula.git
[submodule "salt/formula/users-formula"]
	path = salt/formula/users-formula
	url = https://github.com/saltstack-formulas/users-formula.git
